@import './_reset';
@import './_variables';
@import '../fonts/_fontiran';

body{
    font-family: IRANSans, Avenir, Helvetica, Arial, sans-serif;
    background-color: $color_primary;
    color: $color_black;
}